# Ignore Python bytecode files
*.pyc
__pycache__

# Ignore .env files
.env

# Ignore CSV files
data/

# Ignore Parquet files in DuckDB's output
bronze_parquet_output/

# Ignore s3 sign-in details
s3_stuff/

# Ignore Old stuff
old_stuff/